body {
    background-color: burlywood;
}
h1 {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 75px;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
}

p, ul {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 30px;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: #000000;
}

ul {
    list-style-type: none;
}
li {
    padding-bottom: 35px;
}